.text {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 20px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
}

.keyboard button {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.keyboard button:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}